*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111111;
}

.widgets{
    display: flex;
    height: 100vh;
    width: 10vw;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}