.nav-icon{
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
}

.nav-icon img{
    background-color: transparent;
    position: absolute;
    transition: all 1s ease;
}
.nav-icon img:nth-child(2){
    opacity: 0;
}

.nav-icon.active img:nth-child(1){
    opacity: 0;
}

.nav-icon.active img:nth-child(2){
    opacity: 1;
}

.navbar{
    height: 60vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

#focus{
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-color: #42e7bb;
    transition: all 1s ease;
}

.logo img{
    transition: all 1s ease;
}