.card #typing {
  margin-top: 1rem;
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
  font-family: "Poppins Bold", sans-serif;
  color: rgb(255, 80, 80);
  text-transform: uppercase;
  font-family: sans-serif;
}

.card #typing::after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 0.2rem;
  background-color: red;
  animation: blinking 0.8s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
