<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="style.css">
</head>
<body>

<!-- particles.js container -->
<div id="particles-js">
  <div class="card">
    <div class="img-border">
      <div class="img-value"></div>
    </div>
    <p id="title">Gaurav Singh</p>
    <p id="typing"></p>
  </div>
</div>

<!-- scripts -->
<script src="particles.js"></script>
<script src="particles-home.js"></script>
<script>
  let type = document.querySelector('#typing');
  let strings = ["full stack web developer", "mobile app developer", "competitive coder"];
  let stringIndex = 0;
  let count = 0;
  let typeEffect = (stringIndex) => {
    if (count < strings[stringIndex].length){
      type.innerHTML += strings[stringIndex][count];
      count++;
      setTimeout(() => typeEffect(stringIndex), 150);
    }
    else{
      count = 0;
      strings.length - 1 > stringIndex? stringIndex++ : stringIndex = 0;
      setTimeout(() => {
          type.innerHTML = "";
          setTimeout(() => {
            typeEffect(stringIndex);
          }, 500);
        }, 1000);
    }
  }
  typeEffect(stringIndex);
</script>
</body>
</html>