#contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D1D1D;
}
.contact-form > div {
  display: flex;
  flex-direction: column;
}

.contact-form #info {
  padding: 3rem 3rem;
  width: 70%;
  height: 100%;
}

.contact-form #links {
  width: 30%;
  height: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

#links > .up-arrow {
  background-color: #9a47ff;
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#links > .up-arrow > img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

#links > .links-contact {
  width: 80%;
  margin-bottom: 3rem;
}

#links > .links-contact > a {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #9a47ff;
  text-decoration: none;
}

#links > .links-contact > a:visited {
  color: #9a47ff;
}

.contact-form #info > h1 {
  color: rgba(71, 255, 206, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
}

.form {
  width: 100%;
  height: 70%;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.form .form-field {
  display: flex;
  width: 100%;
}

.form-field p {
  width: 15%;
  margin-top: 1rem;
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.form-field .input {
  width: 80%;
  height: 4rem;
  outline: none;
  font-size: 1.5rem;
  background-color: #111111;
  padding: 2rem;
  color: white;
  transition: all 0.5s ease-in-out;
  font-family: "Poppins", sans-serif;
  border: 0.2rem solid transparent;
}


.form-field .input:focus{
  border: 0.2rem solid #9a47ff;
}

.form-field .input.multi-line {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  height: 12rem;
  background-color: #111111;
  resize: none;
  padding: 1rem 2rem;
}

button.form-submission {
  width: 20%;
  height: 10%;
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
  transform: scale(0.8);
  transition: transform 0.25s ease;
  background-color: #9a47ff;
  font-family: "Poppins", sans-serif;
}

button.form-submission:hover {
  transform: scale(1);
}

button.form-submission:active {
  transform: scale(0.8);
}

@media screen and (max-width: 1369px){
  .contact-form #info > h1 {
    font-size: 2rem;
  }

  .form-field p{
    font-size: 1.2rem;
  }

  #links > .links-contact > a{
    font-size: 1.4rem;
  }
}

@media screen and (max-height: 839px){
  .form-field .input{
    height: 2rem;
    font-size: 1.2rem;
  }

  .form-field .input.multi-line{
    height: 9rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 718px){
  .form-field .input{
    height: 1.8rem;
    font-size: 1rem;
  }

  .form-field .input.multi-line{
    height: 7rem;
    font-size: 1rem;
  }
}